<p>
  <%= link_to "新书上架", new_admin_book_path %>
</p>

<table class="table table-bordered table-hover">
  <tr class="text-info">
    <th>书名</th>
    <th>简介</th>
    <th>库存</th>
    <th>操作</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.text %></td>
      <td><%= book.book_stock %></td>
      <td>
        <%= link_to "显示", book_path(book) %> <span style="margin-left: 5px">|</span>
        <%= link_to "编辑", edit_admin_book_path(book) %> <span style="margin-left: 5px">|</span>
        <%= link_to "删除", admin_book_path(book),
            method: :delete, data: { confirm: "确定删除本书？"} %>
    </tr>
  <% end %>
</table>
